body{
    background-color: #fddfb1;
    font-family: Microsoft JhengHei;
}
.navbar {
    border: solid orange 1px;
    min-height: 50px;
}
.navbar .navbar-brand {
    margin-left: 15%;
    color: white;
}
.navbar .navbar-nav {
    margin-right: auto;
    margin-left: 10%;
}
.navbar .navbar-nav .nav-item {
    margin: 0 30px;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}
.container{
    margin-top:50px;
}
.container .main-content{
    background-color: black;
    padding: 50px;
}
.container .img{
    width: 100%
}
h4, h5, .subtitle{
    color: #ffd900;
}
.content{
    font-size: 15px;
    color: white;
}
.map{
    border-radius: 5%;
}
@media screen and (max-width: 768px){
    .container{
        max-width: 100%;
        padding: 10px;
    }
    .container .main-content{
        padding: 10px;
    }
}
@media screen and (max-width: 576px){
    .container{
        padding: 0;
    }
}